body {
    background-color: #f8f9fa;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tab-button {
    cursor: pointer;
}

.custom-navbar {
    background-color: rgb(152, 218, 233);
}

.navbar-brand img 
{
    height: 30px;
    margin-right: 10px;
    border-radius: 50%; 
}

.slider{
    position: relative;
    width: 100%;
    margin:auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
    margin: 0 auto;
}
img.displaySlide{
    display:block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prevoius{
    left: 0;
}
.next{
    right: 0;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
    
}
header {
    background-color: #f8f9fa; 
    color: #212529;            
    border-bottom: 1px solid #dee2e6; 
  }